<a href="https://colab.research.google.com/github/adityapant1/ML_Practice/blob/main/pytorch_recap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
input1=["Data", "Science", "Mentorship", "Program", "By", "CampusX"]
print(input1)
print("-".join(input1))

['Data', 'Science', 'Mentorship', 'Program', 'By', 'CampusX']
Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
celcius = float(input("Enter temperature in Celcius: "))
fahrenheit = ((celcius * 9) / 5) + 32
print(fahrenheit)

Enter temperature in Celcius: 90
194.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
num1 = int(num1)
num2 = int(num2)
num1 = num2 + num1
num2 = num1 - num2
num1 = num1 - num2
print("First number now is: ", num1)
print("Second number now is: ", num2)

Enter first number: 34
Enter second number: 21
First number now is:  21
Second number now is:  34

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

euclidean_dist = ((x1-x2)**2 + (y1-y2)**2)**(1/2)

print(euclidean_dist)

Enter x1: 1
Enter y1: 1
Enter x2: 2
Enter y2: 2
1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
principal = float(input("Enter Principal: "))
rate = float(input("Enter Rate of Interest(in %): "))
time = float(input("Enter Time Period (in Years): "))

simple_int = (principal * rate * time) / 100

print("The simple interest is: ", simple_int)

Enter Principal: 1000
Enter Rate of Interest(in %): 5
Enter Time Period (in Years): 1
The simple interest is:  50.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here
headcount = int(input("Enter the total number of heads: "))
legcount = int(input("Enter the total number of legs: "))
chickencount = int((4 * headcount - legcount)/2)
dogcount = int(((-2) * headcount + legcount)/2)

print("Dogs: ", dogcount)
print("Chickens: ", chickencount)

Enter the total number of heads: 4
Enter the total number of legs: 12
Dogs:  2
Chickens:  2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here
n = int(input("Enter n: "))

squared_sum = (n + 1)* (2*n + 1) * n / 6

print(squared_sum)

Enter n: 3
14.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
term1 = float(input("1st term of Arithmetic Series: "))
term2 = float(input("2nd term of Arithmetic Series: "))

n = float(input("Enter the value of n: "))

term_nth = term1 + (n-1)* (term2-term1)

print("The Nth term of the series is: ",term_nth)

1st term of Arithmetic Series: 1
2nd term of Arithmetic Series: 3
Enter the value of n: 3
The Nth term of the series is:  5.0

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here
num1 = float(input("numerator of fraction 1: "))
den1 = float(input("denominator of fraction 1: "))
num2 = float(input("numerator of fraction 2: "))
den2 = float(input("denominator of fraction 2: "))

sum = (num1/den1 + num2/den2)

print("The sum of 2 fractions is: ", sum)

numerator of fraction 1: 1
denominator of fraction 1: 2
numerator of fraction 2: 3
denominator of fraction 2: 4
The sum of 2 fractions is:  1.25

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
print("Enter the Dimensions of hte milk tank:")
H = float(input("Height (in cm): "))
L = float(input("Length (in cm): "))
B = float(input("Breadth (in cm): "))

print("Enter the Dimensions of the glass:")
h = float(input("Height (in cm): "))
r = float(input("radius (in cm): "))

vol_milk_tank = H * L * B
vol_glass = 3.14 * (r**2) * h

no_of_milk_glass = vol_milk_tank / vol_glass

print("The number of milk glasses obtained: ", int(no_of_milk_glass))

Enter the Dimensions of hte milk tank:
Height (in cm): 20
Length (in cm): 20
Breadth (in cm): 20
Enter the Dimensions of the glass:
Height (in cm): 3
radius (in cm): 1
The number of milk glasses obtained:  849.2569002123142